.btiFooter {
  padding: 10px 15px;

  .right {
    display: flex;
    height: 23px;
    padding-left: 13px;
    border-radius: 100px;
    background: url(../../../../assets/image/moneyType.png);
    background-size: 100% 100%;

    .jiantou {
      width: 11px;
      height: 11px;
      margin-left: 8px;
      transform: rotate(0deg);
      transition: 0.1s;
    }

    .trans {
      transform: rotate(180deg);
    }
  }

  .chargeBtn {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
  }

  .money {
    font-size: 13px;
    font-weight: bold;
    @extend .disFlex;

    .iconGold {
      width: 13px;
      height: 13px;
      margin-right: 4px;
    }
  }

  .left {
    .chargeBtn {
      background: transparent;
      color: #fff;
      border-color: #fff;
      background: transparent;
      padding: 0 12px;
      margin-left: 10px;
      border-radius: 1000px;
      border-radius: 1000px;
    }
  }
}

.moneySelectBody {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: moneySelectBody;
  color: #494949;

  .title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  .moneyList {
    display: grid;
    grid-template-columns: 96px;
    grid-template-rows: repeat(8, 23px);
    justify-content: space-between;
    grid-row-gap: 10px;

    .moneybox {
      width: 100%;
      height: 100%;
      background: #4e4e4e;
      color: #fff;
      background-size: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      background-repeat: no-repeat;
      font-size: 12px;

      &.active {
        background: #fff;
        color: #4e4e4e;
      }
    }

    .moneyInput {
      background: #4e4e4e;
      border-radius: 1000px;
      padding: 0 12px;
      text-align: center;
      input {
        font-size: 12px;
        color: #fff;
      }
    }
  }
}

.btiBtn {
  margin-left: 9px;
  height: 23px;
  border-radius: 100px;
  line-height: 23px;
  background: #fff;
  border: 0;
  color: #333;
  padding: 0 13px;
  font-size: 12px;
}

.checkBtiForm {
  padding: 0 15px;
  padding-bottom: 20px;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;

  .title {
    text-align: center;
    font-size: 18px;
    padding: 5px 0;
  }

  .info {
    color: #f3bc08;
    text-align: center;
  }

  .overBti {
    max-height: 220px;
    min-height: 220px;
    overflow: auto;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    .box {
      // background: rgba($color: $main, $alpha: 0.08);
      background: #474747;
      border: 1px solid rgba($color: #fff, $alpha: 0.2);
      display: grid;
      grid-template-columns: repeat(2, auto);
      padding: 10px;
      grid-row-gap: 12px;
      justify-content: space-between;
      border-radius: 10px;
      height: 80px;
      margin-bottom: 10px;

      .closeImg {
        @extend .disFlex;
        justify-content: flex-end;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .btiPer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 15px;

    .box {
      border: 1px solid rgba($color: #fff, $alpha: 0.2);
      color: rgba($color: #fff, $alpha: 0.2);
      border-radius: 8px;
    }

    .active {
      background: #474747;
      color: #fff;
      border: 1px solid #fff;
    }
  }

  .big {
    font-size: 16px;
  }

  .red {
    color: #fff;
  }

  .lit {
    font-size: 12px;
  }

  > .disFlexb {
    padding: 5px 0;
  }
}

.windowBottom {
  position: absolute;
  background: #4e4e4e;
}
